<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:form="http://www.w3.org/1999/xhtml"
      xmlns:spring="http://www.w3.org/1999/XSL/Transform" xmlns:c="http://java.sun.com/xml/ns/javaee">
<head>
    <meta charset="utf-8"/>
    <title>Users </title>
</head>
<body>
<div align="center">
    <h1>Users List</h1>
    <a href="/admin/newUser">Create New Users</a>

    <table border="1" cellpadding="10">
        <thead>
        <tr>
            <th>Users ID</th>
            <th>Name</th>
            <th>Password</th>
            <th>Role</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${listUsers}">
            <td th:text="${user.id}">User ID</td>
            <td th:text="${user.name}">Name</td>
            <td th:text="${user.password}">Password</td>
            <td th:text="${user.roles}">Role</td>
            <td> <a th:href="@{edit(id=${user.id})}" class="btn btn-primary">Update</a>
                &nbsp;&nbsp;&nbsp;
                 <a th:href="@{delete(id=${user.id})}" class="btn btn-danger">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
