<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8"/>
    <title>Users </title>
</head>

<script src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js'></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

</head>
<body>


<div class="container-max-width">
    <div class="row">
        <div class="col">
            <table class="table">
                <thead class="thead-dark">
                <div th:align="left">
                    <tr>
                        <th><h3>Logged user: <span sec:authentication="name">Bob</span> </b></h3>
                        <th><h3> Roles: <span sec:authentication="principal.authorities">[ROLE_USER, ROLE_ADMIN]</span></b></h3>
                        <th>
                            <ul class="nav justify-content-end">
                                <li class="nav-item">
                                    <p><a class="text-secondary" href="/login" method="POST"><h4>Logout</h4></a></p>
                                </li>
                            </ul>
                    </tr>
                </div>
                </thead>
            </table>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-2">
        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <a sec:authorize="hasRole('ROLE_ADMIN')" class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">Admin</a>
            <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">User</a>
        </div>
    </div>

    <div class="col-9">
        <div class="tab-content" id="v-pills-tabContent">
            <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                <div sec:authorize="hasRole('ROLE_ADMIN')"><th><h1>Admin panel</h1></th>
                    <nav>
                        <div class="nav nav-tabs" id="nav-tab" role="tablist">
                            <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">UserTable</a>
                            <a class="nav-item nav-link " id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">NewUser</a>
                        </div>
                    </nav>
                    <div class="tab-content" id="nav-tabContent">
                        <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                            <table class="table table-bordered table-striped" id="myTable">
                                <tr>
                                    <th>ID</th>
                                    <th>Name</th>
                                    <th>Password</th>
                                    <th>Role</th>
                                    <th>Edit</th>
                                    <th>Delete</th>
                                </tr>
                                <tbody id="tableBody">

                            <!-- modal -->
                            <div class="modal fade" id="myModal" tabindex="-1" role="dialog"
                                 aria-labelledby="myModalLabel1">
                                <form name="editA" class="form-horizontal" role="form" action="/admin/index">

                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h4 class="modal-title" id="myModalLabel1">Edit user</h4>
                                                <button type="button" class="close" data-dismiss="modal"
                                                        aria-label="Close"><span
                                                        aria-hidden="true">&times;</span></button>
                                            </div>
                                            <form id="editUserModal">
                                            <div class="modal-body">
                                                <div class="col-auto">
                                                    <form>
                                                        <div class="form-group">
                                                            <h5 class="text-center" label
                                                                for="editId">ID</h5>
                                                            <input class="form-control" id="editId" readonly>
                                                        </div>
                                                        <div class="form-group">
                                                            <h5 class="text-center" label
                                                                for="editName">Name</h5>
                                                            <input class="form-control" id="editName">
                                                        </div>
                                                        <div class="form-group">
                                                            <h5 class="text-center" label
                                                                for="editPassword">Password</h5>
                                                            <input class="form-control" id="editPassword">
                                                        </div>
                                                        <div class="form-group">
                                                            <h5 class="text-center" for="editRoles">
                                                                Role</h5>
                                                            <select name="editRoles" class="form-control" multiple="multiple" id="editRoles">
                                                            </select>
                                                        </div>
                                                        <div align="center">
                                                            <div class="modal-footer">

                                                                <button type="button" id = "close-button" class="btn btn-secondary"
                                                                        data-dismiss="modal">
                                                                    Close
                                                                </button>

                                                                <button type="submit" data-dismiss="modal"  onclick="update()" id="save" class="btn btn-primary">
                                                                    Save changes
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                            </form>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="modal fade" id="myModal1" tabindex="-1" role="dialog"
                                 aria-labelledby="myModalLabel">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h4 class="modal-title" id="myModalLabel">Delete user</h4>
                                            <button type="button" class="close" data-dismiss="modal"
                                                    aria-label="Close"><span
                                                    aria-hidden="true">&times;</span></button>
                                        </div>
                                        <form id="delUserModal">
                                        <div class="modal-body">
                                            <div class="col-auto">
                                                <form id="deleteUserModal2">
                                                    <div class="form-group">
                                                        <h5 class="text-center" label
                                                            for="delId">ID</h5>
                                                        <input class="form-control"
                                                               id="delId"
                                                               readonly>
                                                    </div>
                                                    <div class="form-group">
                                                        <h5 class="text-center" label
                                                            for="delName">Name</h5>
                                                        <input class="form-control"
                                                               id="delName"
                                                               readonly>
                                                    </div>
                                                    <div class="form-group">
                                                        <h5 class="text-center" label
                                                            for="delPassword">Password</h5>
                                                        <input class="form-control"
                                                               id="delPassword"
                                                               readonly>
                                                    </div>
                                                    <div class="form-group">
                                                        <fieldset disabled>
                                                            <h5 class="text-center"
                                                                for="inlineFormCustomSelect">Role</h5>
                                                            <select class="form-control form-control-lg" multiple="multiple" id="delRoles">
                                                            </select>
                                                        </fieldset>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary btn-lg"
                                                    data-dismiss="modal">Close
                                            </button>
                                            <button type="button"  id="delButton" class='btn btn-secondary btn-danger' data-dismiss="modal">Delete</button>
                                        </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                                </tbody>
                            </table>
                        </div>

                        <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                            <div class="container text-center">
                                <h5 class="text-center">Add new user</h5>
                            </div>
                            </nav>
                            <br>
                            <div class="container text-center">
                                <form name="index" id = "addUser" class="form-horizontal" role="form" action="/admin/index">
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label" for="name">Name</label>
                                        <input name ="name" placeholder="name" id="inputUserName" type="text" class="form-control"/>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-sm-3 control-label" for="password">Passwor</label>
                                        <input name = "password" placeholder="password" id="inputUserPassword" type="text" class="form-control"/>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label" for="role">Rоle</label>
                                        <select name="roles" id = "inputUserRoles" class="form-control" multiple="multiple">
                                        </select>
                                    </div>
                                    <div align="center">
                                        <button type="submit" id="add" class="btn btn-primary btn-lg">Add new user</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                <th><h1>User panel</h1></th>
                <nav>
                    <div class="nav nav-tabs" id="nav-user" role="tablist">
                        <a class="nav-item nav-link active" id="nav-home-user" data-toggle="tab" href="#nav-table"
                           role="tab" aria-controls="nav-table" aria-selected="true">UserTable</a>
                    </div>
                </nav>
                <table class="table table-bordered table-striped" id="TabUser">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Password</th>
                        <th>Role</th>

                    </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>
</div>

<script src="/hello.js"></script>
</body>
</html>
